{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
{{ form_start(form) }}
{{ form_widget(form) }}
{#        <input type="submit" name="action" value="save">#}
{#        <input type="submit" name="action" value="publish">#}
{{ form_end(form) }}
    </main>

{% endblock %}

{% block title %}

{% endblock %}

